# Environment variables
.env
*.env

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
env/
ENV/
.venv/

# Databases
*.sqlite3
db.sqlite3

# IDE and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
